body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}
.page-header {
    background-color:#E7E9FC ;
}

.logo {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.color-web {
    color: #4D5AE5;
}

.color-studio {
    color: #F4F4FD;
}


.header-link {
    color: #2E2F42;
    border: 1px dashed #9747FF;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.header-link:hover,
.header-link:focus{
    color: #404BBF;
    border: 1px dashed #9747FF;
    border-radius: 5px;


}

.header-contact {
    color: #434455;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em
    
}
.header-contact:hover,
.header-contact:focus{
    color: #404BBF;}
  
 .hero {
    background-color: #2E2F42;
 }   
.hero-title{
    color: #FFFFFF;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.1;
        letter-spacing: 0.02em
}

.section-title{
    color: #2E2F42;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em
}
.section-text {
    color: #434455;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em
}

.slogan{
        color: #2E2F42;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em
    }
.name{
        color: #2E2F42;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em
    }
   .job{
        color: #434455;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em
    }
.button1 {
    color: #FFFFFF ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    border: rgba(0, 0, 0, 0.15);
    background-color:#4D5AE5;
    border-radius: 4px ;
    cursor: pointer;
}
.button1:hover,{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: rgba(0, 0, 0, 0.15);
    background-color: #404BBF;
    border-radius: 4px;
    cursor: pointer;
}


.aside{
    background-color: #F4F4FD;
}

.footer{
    background-color:#2E2F42 ;
}
.footer-text{
    color: #E7E9FC;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em

}
.button2  {
color: #4D5AE5;
background-color: #F4F4FD;
border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em
}
.button2:hover {
    color: #E7E9FC;
    background-color: #404BBF;
    border-radius: 4px;
    cursor: pointer;
}


.section-img {
    background-color: #E7E9FC;
}
.img-title {
color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
}

.img-text {
color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}