body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}
.page-header {
    background-color:#E7E9FC ;
}
.logo {
    color=#2E2F42
}
.header-link {
    color: #2E2F42;
    border: 1px dashed #9747FF;
    border-radius: 5px;

}
.header-link:hover,
.header-link:focus{
    color: #404BBF;
    border: 1px dashed #9747FF;
    border-radius: 5px;


}

.header-contact {
    color: #434455;
    
}
.header-contact:hover,
.header-contact:focus{
    color: #404BBF;}
  
 .hero {
    background-color: #2E2F42;
 }   
.hero-title{
    color: #FFFFFF;
}

.section-title{
    color: #2E2F42;
}
.section-text {
    color: #434455;
}

.button1 {
    color: #FFFFFF ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    border: rgba(0, 0, 0, 0.15);
    background-color:#4D5AE5;
    border-radius: 4px ;
    cursor: pointer;
}
.button1:hover,{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: rgba(0, 0, 0, 0.15);
    background-color: #404BBF;
    border-radius: 4px;
    cursor: pointer;
}

.slogan {
    color: #2E2F42;
}
.aside{
    background-color: #F4F4FD;
}
.name {
    color: #2E2F42;
}
.job {
    color: #434455;
}
.footer{
    background-color:#2E2F42 ;
}
.footer-text{
    color: #E7E9FC;
}
.button2  {
color: #E7E9FC;
background-color: #F4F4FD;
border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
}
.button2:hover {
    background-color: #404BBF;
    border-radius: 4px;
    cursor: pointer;
}